.header {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.flag {
  width: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.flag:first-of-type {
  margin-left: auto;
}

.flag img {
  width: 100%;
}
